In [3]:
import pandas as pd
df = pd.read_csv("../data/dailyActivity_merged.csv")

In [4]:
df.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

In [ ]:
(df == 0).sum().sort_values(ascending=False) # 0값 분포 얼마나?

LoggedActivitiesDistance    908
SedentaryActiveDistance     858
VeryActiveDistance          413
VeryActiveMinutes           409
ModeratelyActiveDistance    386
FairlyActiveMinutes         384
LightActiveDistance          85
LightlyActiveMinutes         84
TrackerDistance              78
TotalDistance                78
TotalSteps                   77
Calories                      4
SedentaryMinutes              1
Id                            0
ActivityDate                  0
dtype: int64

In [ ]:
df.query(
    "TotalSteps == 0 and Calories > 0"
).shape # 활동은 없는데 칼로리만 있는 날

(73, 15)

In [ ]:
(df["TotalSteps"] == 0).groupby(df["Id"]).mean() # 사용자별 0day 비율

Id
1503960366    0.032258
1624580081    0.000000
1644430081    0.000000
1844505072    0.322581
1927972279    0.451613
2022484408    0.000000
2026352035    0.000000
2320127002    0.000000
2347167796    0.000000
2873212765    0.000000
3372868164    0.000000
3977333714    0.000000
4020332650    0.451613
4057192912    0.250000
4319703577    0.000000
4388161847    0.000000
4445114986    0.000000
4558609924    0.000000
4702921684    0.032258
5553957443    0.000000
5577150313    0.066667
6117666160    0.178571
6290855005    0.172414
6775888955    0.346154
6962181067    0.000000
7007744171    0.076923
7086361926    0.032258
8053475328    0.000000
8253242879    0.052632
8378563200    0.000000
8583815059    0.032258
8792009665    0.344828
8877689391    0.000000
Name: TotalSteps, dtype: float64