In [3]:
#Îç∞Ïù¥ÌÑ∞Ï°∞Ìöå
import pandas as pd
act = pd.read_csv('../data/dailyActivity_merged_fin_sum.csv')
act_grade = act.copy()
act_grade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1373 entries, 0 to 1372
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        1373 non-null   int64
 1   ActivityDate              1373 non-null   object
 2   TotalSteps                1373 non-null   int64
 3   TotalDistance             1373 non-null   float64
 4   TrackerDistance           1373 non-null   float64
 5   LoggedActivitiesDistance  1373 non-null   float64
 6   VeryActiveDistance        1373 non-null   float64
 7   ModeratelyActiveDistance  1373 non-null   float64
 8   LightActiveDistance       1373 non-null   float64
 9   SedentaryActiveDistance   1373 non-null   float64
 10  VeryActiveMinutes         1373 non-null   int64
 11  FairlyActiveMinutes       1373 non-null   int64
 12  LightlyActiveMinutes      1373 non-null   int64
 13  SedentaryMinutes          1373 non-null   int64
 14  Calories                  1373 non-null   int64
dtypes: float64(7), int64(7), object(1)
memory usage: 161.0+ KB

Id ÏÇ¨Ïö©Ïûêid 	
ActivityDate ÏûëÎèôÏùºÏãú(Ïùº) 	
TotalSteps Ï¥ùÍ±∏ÏùåÏàò	
TotalDistance Ï¥ùÍ±∞Î¶¨	
TrackerDistance	Í∏∞Í∏∞Ï∏°Ï†ïÍ±∞Î¶¨
LoggedActivitiesDistance Ïù¥Ïö©ÏûêÏûÖÎ†•Í±∞Î¶¨ 	
VeryActiveDistance Í≥†Í∞ïÎèÑÍµ¨Í∞Ñ(Îπ°ÏÑºÏö¥Îèô)
ModeratelyActiveDistance Ï§ëÍ∞ïÎèÑÍµ¨Í∞Ñ(Í∞ÄÎ≤ºÏö¥Ïö¥Îèô)
LightActiveDistance	Ï†ÄÍ∞ïÎèÑÍµ¨Í∞Ñ(ÏùºÏÉÅÏ†ÅÏõÄÏßÅÏûÑ)
SedentaryActiveDistance ÎØ∏ÏÑ∏Í∞ïÎèÑÍµ¨Í∞Ñ(Î≤ÑÍ∑∏Íµ¨Í∞Ñ)	
VeryActiveMinutes Í≥†Í∞ïÎèÑÏãúÍ∞Ñ	
FairlyActiveMinutes	Ï§ëÍ∞ïÎèÑÏãúÍ∞Ñ
LightlyActiveMinutes Ï†ÄÍ∞ïÎèÑÏãúÍ∞Ñ
SedentaryMinutes Ï∞©ÏÑùÏãúÍ∞Ñ(ÏõÄÏßÅÏûÑÏóÜÏùå)
Calories ÏÜåÎπÑÏπºÎ°úÎ¶¨

In [5]:
# Ï∂îÍ∞Ä Ï†ÑÏ≤òÎ¶¨ - [Îã®ÏúÑ Î≥ÄÌôò] Mile -> Km 

# Î≥ÄÌôòÌï† Ïª¨Îüº Î¶¨Ïä§Ìä∏ ÏûêÎèô Ï∂îÏ∂ú
distance_cols = [col for col in act_grade.columns if 'Distance' in col]

# 1 Mile = 1.60934 Km
# Î™®Îì† Í±∞Î¶¨ Ïª¨ÎüºÏóê 1.60934Î•º Í≥±Ìï¥ÏÑú kmÎ°ú Î≥ÄÌôò
act_grade[distance_cols] = act_grade[distance_cols] * 1.60934

# ÏÜåÏàòÏ†ê 2ÏûêÎ¶¨Î°ú ÍπîÎÅîÌïòÍ≤å Ï†ïÎ¶¨
act_grade[distance_cols] = act_grade[distance_cols].round(2)

# Ïûò Î∞îÎÄåÏóàÎÇò ÌôïÏù∏ 
print("=== üá∞üá∑ [Îã®ÏúÑ Î≥ÄÌôò ÏôÑÎ£å] Mile -> Km ===")
act_grade[distance_cols].head()

=== üá∞üá∑ [Îã®ÏúÑ Î≥ÄÌôò ÏôÑÎ£å] Mile -> Km ===

,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance
0,11.44,11.44,0.0,4.14,0.74,6.55,0.0
1,18.59,18.59,0.0,11.14,1.17,6.29,0.0
2,13.73,13.73,0.0,7.50,0.26,5.97,0.0
3,14.37,14.37,0.0,5.13,1.27,7.97,0.0
4,12.63,12.63,0.0,3.48,1.75,7.42,0.0

In [6]:
# ÎÇ†Ïßú Î≥ÄÌôò (String -> Datetime)
act_grade['ActivityDate'] = pd.to_datetime(act_grade['ActivityDate'])
# ÏöîÏùº Î≥ÄÏàò Ï∂îÍ∞Ä (0=ÏõîÏöîÏùº, 6=ÏùºÏöîÏùº)
act_grade['DayOfWeek'] = act_grade['ActivityDate'].dt.day_name()

# Î™ÖÎ™©Ìòï Î≥ÄÏàò Î≥ÄÌôò (Int -> String)
# Ïù¥Ïú†: 'Id'Îäî Ïà´ÏûêÏßÄÎßå ÎçîÌïòÍ±∞ÎÇò ÌèâÍ∑†ÏùÑ ÎÇ¥Îäî Í≤å ÏùòÎØ∏ ÏóÜÏùå. Ïã§ÏàòÎ°ú Í≥ÑÏÇ∞ÎêòÏßÄ ÏïäÎèÑÎ°ù Î¨∏ÏûêÏó¥(str)Î°ú Î∞îÍøîÏ§å
act_grade['Id'] = act_grade['Id'].astype(str)

# Ïà´Ïûê Îã®ÏúÑ ÌÜµÏùº Î∞è Ï†ïÎ¶¨ (Rounding)
# Ïù¥Ïú†: Distance Í¥ÄÎ†® Ïª¨ÎüºÎì§Ïù¥ ÏÜåÏàòÏ†ê 13ÏûêÎ¶¨ÍπåÏßÄ ÏûàÏñ¥ÏÑú Î≥¥Í∏∞ ÌûòÎì¶. ÏÜåÏàòÏ†ê 2ÏûêÎ¶¨Î°ú Ï∂ïÏïΩ
dist_cols = ['TotalDistance', 'TrackerDistance', 'VeryActiveDistance', 
             'ModeratelyActiveDistance', 'LightActiveDistance', 'SedentaryActiveDistance']
act_grade[dist_cols] = act_grade[dist_cols].round(2)

# ÎÖºÎ¶¨Ï†Å Ïù¥ÏÉÅÏπò Ï≤òÎ¶¨ (Data Consistency)
# Ïù¥Ïú†: ÌïòÎ£®Îäî 24ÏãúÍ∞Ñ(1440Î∂Ñ)Ïù∏Îç∞, Îã§ ÎçîÌï¥ÏÑú 1440Î∂ÑÏù¥ ÎÑòÎäî Îç∞Ïù¥ÌÑ∞Îäî 'Ïò§Î•ò'. 1440Î∂Ñ Ï¥àÍ≥º Îç∞Ïù¥ÌÑ∞Î•º Ï†úÍ±∞
act_grade['Total_Minutes_Check'] = (act_grade['VeryActiveMinutes'] + 
                              act_grade['FairlyActiveMinutes'] + 
                              act_grade['LightlyActiveMinutes'] + 
                              act_grade['SedentaryMinutes'])

# 1440Î∂Ñ Ïù¥ÌïòÏù∏ Ï†ïÏÉÅ Îç∞Ïù¥ÌÑ∞Îßå ÎÇ®Í∏∞Í∏∞
act_clean = act_grade[act_grade['Total_Minutes_Check'] <= 1440].copy()

# Í≤∞Í≥º ÌôïÏù∏
print("--- Ï†ÑÏ≤òÎ¶¨ ÌõÑ Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥ ---")
act_clean.info()
print("\n--- ÏÉÅÏúÑ 5Í∞ú Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ (ÏöîÏùº, ID, ÏÜåÏàòÏ†ê ÌôïÏù∏) ---")
act_clean[['Id', 'ActivityDate', 'DayOfWeek', 'TotalDistance', 'Total_Minutes_Check']].head()

--- Ï†ÑÏ≤òÎ¶¨ ÌõÑ Îç∞Ïù¥ÌÑ∞ Ï†ïÎ≥¥ ---
<class 'pandas.core.frame.DataFrame'>
Index: 1359 entries, 0 to 1372
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        1359 non-null   object
 1   ActivityDate              1359 non-null   datetime64[ns]
 2   TotalSteps                1359 non-null   int64
 3   TotalDistance             1359 non-null   float64
 4   TrackerDistance           1359 non-null   float64
 5   LoggedActivitiesDistance  1359 non-null   float64
 6   VeryActiveDistance        1359 non-null   float64
 7   ModeratelyActiveDistance  1359 non-null   float64
 8   LightActiveDistance       1359 non-null   float64
 9   SedentaryActiveDistance   1359 non-null   float64
 10  VeryActiveMinutes         1359 non-null   int64
 11  FairlyActiveMinutes       1359 non-null   int64
 12  LightlyActiveMinutes      1359 non-null   int64
 13  SedentaryMinutes          1359 non-null   int64
 14  Calories                  1359 non-null   int64
 15  DayOfWeek                 1359 non-null   object
 16  Total_Minutes_Check       1359 non-null   int64
dtypes: datetime64[ns](1), float64(7), int64(7), object(2)
memory usage: 191.1+ KB

--- ÏÉÅÏúÑ 5Í∞ú Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ (ÏöîÏùº, ID, ÏÜåÏàòÏ†ê ÌôïÏù∏) ---

           Id ActivityDate DayOfWeek  TotalDistance  Total_Minutes_Check
0  1503960366   2016-03-25    Friday          11.44                 1054
1  1503960366   2016-03-26  Saturday          18.59                  968
2  1503960366   2016-03-27    Sunday          13.73                  934
3  1503960366   2016-03-28    Monday          14.37                 1363
4  1503960366   2016-03-29   Tuesday          12.63                 1062

In [7]:

# (1) Ï¥ù ÌôúÎèô ÏãúÍ∞Ñ (Total_Active_Minutes)
act_clean['Total_Active_Minutes'] = (
    act_clean['VeryActiveMinutes'] + 
    act_clean['FairlyActiveMinutes'] + 
    act_clean['LightlyActiveMinutes']
)
# (2) Ïö¥Îèô Í∞ïÎèÑ Ï†êÏàò (Intensity_Score)
act_clean['Intensity_Score'] = (
    (act_clean['VeryActiveMinutes'] * 2) + 
    (act_clean['FairlyActiveMinutes'] * 1.5) + 
    (act_clean['LightlyActiveMinutes'] * 1)
)
# (3) ÌôúÎèô Îì±Í∏â (Activity_Grade)
act_clean['Activity_Grade'] = pd.qcut(
    act_clean['Intensity_Score'], 
    q=3, 
    labels=['Low', 'Medium', 'High']
)
# Ïûò ÎßåÎì§Ïñ¥Ï°åÎäîÏßÄ ÌôïÏù∏
act_clean[['Id', 'Total_Active_Minutes', 'Intensity_Score', 'Activity_Grade']].head()
# Îì±Í∏âÎ≥ÑÎ°ú Î™á Î™ÖÏù¥ÎÇò ÏûàÎäîÏßÄ ÌôïÏù∏
act_clean['Activity_Grade'].value_counts()

Activity_Grade
Low       453
Medium    453
High      453
Name: count, dtype: int64

In [8]:
# Îì±Í∏âÎ≥Ñ ÏÜåÎπÑ ÏπºÎ°úÎ¶¨ ÌôïÏù∏
# 'Activity_Grade'Î°ú Í∑∏Î£πÏùÑ Î¨∂Í≥†, 'Calories' Ïª¨ÎüºÏùò ÌÜµÍ≥Ñ(ÌèâÍ∑†, ÏµúÏÜå, ÏµúÎåÄ Îì±)Î•º ÌôïÏù∏
calorie_stats = act_clean.groupby('Activity_Grade')['Calories'].describe()
calorie_stats_rounded = calorie_stats.round(2) #ÏÜåÏàòÏ†ê 2ÏûêÎ¶¨ÍπåÏßÄ 
calorie_stats_rounded

C:\Users\USER\AppData\Local\Temp\ipykernel_18360\3061113156.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  calorie_stats = act_clean.groupby('Activity_Grade')['Calories'].describe()

                count     mean     std     min     25%     50%     75%     max
Activity_Grade
Low             453.0  1857.90  578.95     0.0  1469.0  1841.0  2130.0  3728.0
Medium          453.0  2309.98  552.53  1248.0  1851.0  2203.0  2806.0  4010.0
High            453.0  2728.86  768.15  1144.0  2094.0  2576.0  3324.0  5517.0

In [9]:
# 'ÏÉÅ' Îì±Í∏âÏù¥Í≥† ÌôúÎèôÏãúÍ∞ÑÎèÑ ÎÜíÏùÄ ÏÇ¨ÎûåÎì§ : Ìó¨Ï∞Ω
# Ï°∞Í±¥: ÌôúÎèô ÏãúÍ∞ÑÏù¥ Ï§ëÏïôÍ∞íÎ≥¥Îã§ Í∏∏Í≥†(>=) AND Îì±Í∏âÏù¥ HighÏù∏ ÏÇ¨Îûå
# Ï†ïÎ†¨: Í∞ïÎèÑ Ï†êÏàòÍ∞Ä ÎÜíÏùÄ ÏàúÏÑúÎåÄÎ°ú (ÎÇ¥Î¶ºÏ∞®Ïàú) -> "ÎàÑÍ∞Ä Ï†úÏùº Îπ°ÏÑ∏Í≤å ÌñàÎÇò?"

time_median = act_clean['Total_Active_Minutes'].median()# Í∏∞Ï§ÄÏ†ê(Ï§ëÏïôÍ∞í) Í≥ÑÏÇ∞
elite_examples = act_clean[
    (act_clean['Total_Active_Minutes'] >= time_median) & 
    (act_clean['Activity_Grade'] == 'High')
].sort_values(by='Intensity_Score', ascending=False).head()
print("--- 'Ìó¨Ï∞Ω' ÏºÄÏù¥Ïä§ ---")
elite_examples

--- 'Ìó¨Ï∞Ω' ÏºÄÏù¥Ïä§ ---

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,DayOfWeek,Total_Minutes_Check,Total_Active_Minutes,Intensity_Score,Activity_Grade
425,2891001357,2016-04-01,0,0.00,0.00,7.77,0.00,0.00,0.00,0.0,0,660,0,780,4562,Friday,1440,660,990.0,High
426,2891001357,2016-04-02,4126,5.18,0.00,5.18,0.00,0.00,5.18,0.0,0,0,720,720,2881,Saturday,1440,720,720.0,High
884,5577150313,2016-05-01,13368,16.08,16.08,0.00,8.55,2.32,5.21,0.0,194,72,178,499,4546,Sunday,943,444,674.0,High
1338,8877689391,2016-04-16,29326,40.70,40.70,0.00,21.31,1.95,17.24,0.0,94,29,429,888,4547,Saturday,1440,552,660.5,High
870,5577150313,2016-04-24,15764,18.96,18.96,0.00,12.31,3.46,3.19,0.0,210,65,141,425,4392,Sunday,841,416,658.5,High

In [11]:
# 'Ìïò' Îì±Í∏âÏù¥Í≥† ÌôúÎèôÏãúÍ∞ÑÎèÑ ÎÇÆÏùÄ ÏÇ¨ÎûåÎì§ : ÍπîÏßùÏ∂©
# Ï°∞Í±¥: ÌôúÎèô ÏãúÍ∞ÑÏù¥ Ï§ëÏïôÍ∞íÎ≥¥Îã§ ÏßßÍ≥†(<) AND Îì±Í∏âÏù¥ LowÏù∏ ÏÇ¨Îûå
# Ï†ïÎ†¨: ÌôúÎèô ÏãúÍ∞ÑÏù¥ Ï†ÅÏùÄ ÏàúÏÑúÎåÄÎ°ú (Ïò§Î¶ÑÏ∞®Ïàú) -> "ÎàÑÍ∞Ä Ï†úÏùº Ïïà ÏõÄÏßÅÏòÄÎÇò?"
ggal_examples = act_clean[
    (act_clean['Total_Active_Minutes'] < time_median) & 
    (act_clean['Activity_Grade'] == 'Low')
].sort_values(by='Total_Active_Minutes', ascending=True).head()
print("--- 'ÍπîÏßùÏ∂©' ÏºÄÏù¥Ïä§ ---")
ggal_examples

--- 'ÍπîÏßùÏ∂©' ÏºÄÏù¥Ïä§ ---

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,DayOfWeek,Total_Minutes_Check,Total_Active_Minutes,Intensity_Score,Activity_Grade
40,1503960366,2016-05-12,0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,0,Thursday,1440,0,0.0,Low
1330,8792009665,2016-05-09,0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1688,Monday,1440,0,0.0,Low
1285,8583815059,2016-05-04,3588,4.51,4.51,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,2516,Wednesday,1440,0,0.0,Low
1299,8792009665,2016-04-17,0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1688,Sunday,1440,0,0.0,Low
1301,8792009665,2016-04-19,0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,1440,1688,Tuesday,1440,0,0.0,Low

In [12]:
# 'ÏÉÅ' Îì±Í∏âÏù¥ÏßÄÎßå ÌôúÎèôÏãúÍ∞ÑÏùÄ ÎÇÆÏùÄ ÏÇ¨ÎûåÎì§ : Í≥†Ìö®Ïú®
short_but_high = act_clean[act_clean['Activity_Grade'] == 'High'].sort_values(by='Total_Active_Minutes').head()

print("--- 'Í≥†Ìö®Ïú®' ÏºÄÏù¥Ïä§ ---")
short_but_high

--- 'Í≥†Ìö®Ïú®' ÏºÄÏù¥Ïä§ ---

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,DayOfWeek,Total_Minutes_Check,Total_Active_Minutes,Intensity_Score,Activity_Grade
1175,8053475328,2016-05-05,14990,18.52,18.52,0.0,14.24,0.72,3.56,0.0,93,9,130,1208,2950,Thursday,1440,232,329.5,High
857,5577150313,2016-04-12,8135,9.78,9.78,0.0,5.79,0.61,3.38,0.0,86,16,140,728,3405,Tuesday,970,242,336.0,High
864,5577150313,2016-04-19,12574,15.16,15.16,0.0,11.30,1.03,2.83,0.0,108,23,111,733,3501,Tuesday,975,242,361.5,High
1109,7086361926,2016-04-20,14365,17.12,17.12,0.0,12.30,0.72,4.09,0.0,87,13,145,797,2997,Wednesday,1042,245,338.5,High
1150,8053475328,2016-04-20,15108,19.62,19.62,0.0,15.42,0.37,3.83,0.0,89,5,158,695,3043,Wednesday,947,252,343.5,High

In [13]:
# 'Ìïò' Îì±Í∏âÏù¥ÏßÄÎßå ÌôúÎèôÏãúÍ∞ÑÏùÄ ÎÜíÏùÄ ÏÇ¨ÎûåÎì§ : Ï†ÄÌö®Ïú®
long_but_low = act_clean[act_clean['Activity_Grade'] == 'Low'].sort_values(by='Total_Active_Minutes', ascending=False).head()

print("\n--- 'Ï†ÄÌö®Ïú®' ÏºÄÏù¥Ïä§ ---")
long_but_low

--- 'Ï†ÄÌö®Ïú®' ÏºÄÏù¥Ïä§ ---

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,DayOfWeek,Total_Minutes_Check,Total_Active_Minutes,Intensity_Score,Activity_Grade
270,2026352035,2016-04-15,3821,3.81,3.81,0.0,0.0,0.0,3.81,0.00,0,0,188,687,1444,Friday,875,188,188.0,Low
518,4020332650,2016-03-29,4152,4.80,4.80,0.0,0.0,0.0,4.76,0.00,0,0,187,1253,2976,Tuesday,1440,187,187.0,Low
69,1624580081,2016-04-21,6349,6.65,6.65,0.0,0.0,0.0,6.61,0.03,0,0,186,1254,1467,Thursday,1440,186,186.0,Low
290,2026352035,2016-04-06,3180,3.17,3.17,0.0,0.0,0.0,3.17,0.00,0,0,185,738,1421,Wednesday,923,185,185.0,Low
293,2026352035,2016-04-09,3098,3.09,3.09,0.0,0.0,0.0,3.09,0.00,0,0,185,700,1413,Saturday,885,185,185.0,Low

In [14]:
import numpy as np
# Ìö®Ïú®ÏÑ± ÏßÄÌëú(Efficiency) ÎßåÎì§Í∏∞
# Í≥µÏãù: Ïö¥Îèô Í∞ïÎèÑ Ï†êÏàò(Intensity_Score) / Ï¥ù ÌôúÎèô ÏãúÍ∞Ñ(Total_Active_Minutes)
# ÏùòÎØ∏: 1Î∂Ñ ÏõÄÏßÅÏùº ÎïåÎßàÎã§ Î™á Ï†êÏù¥ÎÇò Îî∞ÎÉàÎÇò (ÎÜíÏùÑÏàòÎ°ù Í≥†Í∞ïÎèÑ Ïö¥Îèô!)
# Ï£ºÏùò: ÌôúÎèô ÏãúÍ∞ÑÏù¥ 0Î∂ÑÏù∏ Í≤ΩÏö∞ ÏóêÎü¨Í∞Ä ÎÇòÏßÄ ÏïäÎèÑÎ°ù np.whereÎ°ú ÏòàÏô∏ Ï≤òÎ¶¨
act_clean['Efficiency'] = np.where(
    act_clean['Total_Active_Minutes'] > 0, 
    act_clean['Intensity_Score'] / act_clean['Total_Active_Minutes'], 
    0
)

Ïù¥ÏØ§ÏóêÏÑú Ï§ëÍ∞ÑÏ†ïÎ¶¨(ÎÇ¥Î®∏Î¶øÏÜç)...
'Í∞úÏù∏Î≥Ñ ÎßûÏ∂§Ìôî'ÎãàÍπå Ïñ¥ÎñªÍ≤å Ìï¥Ïïº Îçú ÌûòÎì§Í≥†(ÎòêÎäî ÏßßÍ≤å ÌïòÍ≥†) ÏÇ¥ÏùÑ ÎßéÏù¥ Î∫ÑÍπå? Í∞Ä Ï§ëÏöîÌï®...ÏôúÎÉêÎ©¥ ÎÇ¥Í∞Ä Îß®ÎÇ†Ïù¥ÏÉùÍ∞ÅÌïòÎãàÍπå
Î∂ÑÏÑù Î™©Ìëú 1Î≤à: Îì±Í∏âÎ≥Ñ, Ïö¥Îèô Í∞ïÎèÑÎ≥Ñ ÏµúÏ†ÅÏùò ÏπºÎ°úÎ¶¨ ÏÜåÎ™® Íµ¨Í∞Ñ Î∞úÍ≤¨ (ÏåÄÎ®πÍ∞ÄÎä•Íµ¨Í∞ÑÏ∞æÏïÑÏÑú ÎßûÏ∂§ÌòïÏúºÎ°ú Ïù¥Ïö©ÏûêÎì§ÏóêÍ≤å Ï†úÏãú)
1Î≤àÏúºÎ°ú Ïû¨ÎØ∏Î•º Î∂ôÏù∏ ÏÇ¨ÎûåÎì§Ïù¥ ÏÉÅÍ∏âÏúºÎ°ú Í∞ÄÍ≥†Ïã∂Ïñ¥Ìï†Îïå ÏÉÅÍ∏âÏú†Ï†ÄÎì§Ïùò ÎÖ∏ÌïòÏö∞Î•º ÏïåÎ†§Ï§ÄÎã§...(ÏùºÏ¢ÖÏùò ptÍ∞úÎÖê)
Î∂ÑÏÑù Î™©Ìëú 2Î≤à: ÏÉÅÏúÑ Îì±Í∏â Ïú†Ï†ÄÎì§Ïùò Ïö¥Îèô Ìå®ÌÑ¥ ÌäπÏÑ± ÌååÏïÖ Î∞è Îì±Í∏â ÏÉÅÏäπÏùÑ ÏúÑÌïú ÌïµÏã¨ ÏöîÏù∏ ÎèÑÏ∂ú (Ï°±Î≥¥Í∞úÎÖê)
ÎòëÍ∞ôÏù¥ 1Î≤àÏóêÏÑú Ïû¨ÎØ∏Î•º Î™ªÎäêÎÅºÍ≥† ÌäïÍ≤®ÎÇòÍ∞àÏÇ¨ÎûåÎì§ÏùÑ ÏúÑÌïú Ïù¥ÌÉàÎ∞©ÏßÄÏ±Ö ÌïÑÏöîÌïòÎã§Í≥† ÏÉùÍ∞Å (Ïó¨Í∏∞ÏÑúÎäî Ï∂©Î∂ÑÌïú Ï†ïÎ≥¥Í∞Ä ÎèÑÏõÄ ÎßéÏù¥Îê®!)
Î∂ÑÏÑù Î™©Ìëú 3Î≤à: Ïö¥Îèô Ìö®Ïú®ÏÑ± Ï†ÄÏ°∞ Í∑∏Î£π ÏãùÎ≥Ñ Î∞è ÎßûÏ∂§Ìòï ÏºÄÏñ¥ Ï†ÑÎûµ ÏàòÎ¶Ω (Ï†ÅÎãπÌûà Ïâ¨ÎäîÏãúÍ∞Ñ ÎßéÏù¥Ï£ºÍ±∞ÎÇò, ÍøÄÌåÅÏùÑÏ§ÄÎã§)
Ïï†Ï¥àÏóê ÏÉÅÍ∏âÏúºÎ°ú ÏãúÏûëÌïú ÏÇ¨ÎûåÎì§ÏùÄ... ÏßÄÍ∏à Ï∂©Î∂ÑÌûà ÏûòÌïòÍ≥†ÏûàÎã§Îäî ÎÇòÎç∞ÎÇòÎç∞Í∞Ä ÌïÑÏöîÌï®... ÌòπÏùÄ Î∞∞ÌãÄÎ°úÏñÑ?
Î∂ÑÏÑù Î™©Ìëú 4Î≤à: ÏãúÍ∞Ñ ÎåÄÎπÑ ÏπºÎ°úÎ¶¨/Ìö®Ïú®Ïùò ÏàòÌôï Ï≤¥Í∞ê ÏßÄÏ†ê Ï∞æÍ∏∞(Ïù¥ÏßÄÏ†êÏóêÏÑú Ìú¥ÏãùÌïòÏÑ∏Ïöî, ÎçîÌïòÎ©¥ Ïó≠Ìö®Í≥º! Í∞ôÏùÄ ÏïåÎ¶ºÏúºÎ°ú Ï†ÑÎ¨∏ÏÑ± Ïñ¥ÌïÑÍ≥º Î™©ÌëúÏÑ±Ï∑® Ïù∏ÏßÄ)
Î∂ÑÏÑù Î™©Ìëú 4-1Î≤à: Ïö¥Îèô Í∞ïÎèÑÏùò ÌëúÏ§ÄÌé∏Ï∞®(Variation) ÌôïÏù∏ (ÌõàÎ†®Î∞©ÏãùÏùÑ Ïù∏ÌÑ∞Î≤åÎ°ú Î∞îÍæ∏ÏûêÎäî ÏùòÍ≤¨ Îì±ÏúºÎ°ú Îß§ÎÑàÎ¶¨Ï¶ò Î∞©ÏßÄ)
Î∂ÑÏÑù Î™©Ìëú 4-2Î≤à: ÎèôÏùº ÏãúÍ∞Ñ ÎåÄÎπÑ ÏπºÎ°úÎ¶¨ ÏÜåÎ™®Îüâ Î∂ÑÌè¨ ÌôïÏù∏ (Í∞ôÏùÄ ÏÉÅÍ∏âÏóêÏÑúÎèÑ ÏàúÏúÑÎ•º Î∂ôÏó¨ÏÑú Í≤ΩÏüÅÏã¨ ÏûêÍ∑π)
4Î≤àÎßå ÎßéÏùÄ Ïù¥Ïú†Îäî... ÏÇ¨Ïã§ Ïö¥ÎèôÏùÑ Íæ∏Ï§ÄÌûà ÌïòÎçò ÏÇ¨ÎûåÎì§Ïù¥ ÏïûÏúºÎ°úÎèÑ Íæ∏Ï§ÄÌûà Ìï†ÏàòÎ∞ñÏóê ÏóÜÍ∏∞ÎïåÎ¨∏. Í∑∏ÎãàÍπå Ï£º Í≥†Í∞ùÏ∏µÏù¥ÎùºÍ≥† ÏÉùÍ∞ÅÌñàÏùå
123Î≤àÏùÄ ÏûÖÎ¨∏Ïûê, 4Î≤àÏùÄ ÏàôÎ†®Ïûê~Ï†ÑÎ¨∏Í∞ÄÏö©

In [21]:
#Îì±Í∏âÎ≥Ñ, Ïö¥Îèô Í∞ïÎèÑÎ≥Ñ ÏµúÏ†ÅÏùò ÏπºÎ°úÎ¶¨ ÏÜåÎ™® Íµ¨Í∞Ñ Î∞úÍ≤¨
import numpy as np
# [Ï∂îÍ∞Ä Ï†ÑÏ≤òÎ¶¨] Î∂ÑÏÑùÏùÑ ÏúÑÌïú Íµ¨Í∞Ñ(Binning) ÎßåÎì§Í∏∞

# 1Ô∏è[Workout_Intensity] Ïö¥Îèô Í∞ïÎèÑ Î†àÎ≤® Íµ¨Ï≤¥Ìôî
# Efficiency(Ìö®Ïú®)Îäî 1.0(ÏÇ∞Ï±Ö) ~ 2.0(Ï†ÑÎ†•ÏßàÏ£º) ÏÇ¨Ïù¥Ïùò Í∞íÏùÑ Í∞ÄÏßëÎãàÎã§.
# Ïù¥Í±∏ ÏÇ¨ÎûåÏù¥ Ïù¥Ìï¥ÌïòÍ∏∞ Ïâ¨Ïö¥ 'Ï†Ä/Ï§ë/Í≥†' Í∞ïÎèÑÎ°ú ÎÇòÎàïÎãàÎã§.
bins_eff = [0.0, 1.1, 1.5, 3.0] # 1.1 Ïù¥ÌïòÎäî Í∞ÄÎ≤ºÏö¥ Ïö¥Îèô, 1.5 Ïù¥ÏÉÅÏùÄ Îπ°ÏÑº Ïö¥Îèô
labels_eff = ['Light_Int(Í∞ÄÎ≤ºÏõÄ)', 'Moderate_Int(Ï§ëÍ∞ïÎèÑ)', 'Vigorous_Int(Í≥†Í∞ïÎèÑ)']
act_clean['Workout_Intensity'] = pd.cut(act_clean['Efficiency'], bins=bins_eff, labels=labels_eff)

# 2Ô∏è[Time_Bin] Ïö¥Îèô ÏãúÍ∞ÑÎåÄ Íµ¨Í∞Ñ ÎÇòÎàÑÍ∏∞ (30Î∂Ñ Îã®ÏúÑ)
# 0Î∂Ñ~30Î∂Ñ, 30Î∂Ñ~60Î∂Ñ... Ïù¥Î†áÍ≤å Ï™ºÍ∞úÏïº "Î™á Î∂Ñ ÌïòÎäî Í≤å Ï¢ãÏïÑÏöî?"ÎùºÍ≥† ÎßêÌï¥Ï§Ñ Ïàò ÏûàÏ£†.
# ÏµúÎåÄ ÏãúÍ∞Ñ ÌôïÏù∏ ÌõÑ ÎÑâÎÑâÌïòÍ≤å 5ÏãúÍ∞Ñ(300Î∂Ñ)ÍπåÏßÄ Ïû°ÏäµÎãàÎã§.
bins_time = list(range(0, 330, 30))
labels_time = [f'{i}~{i+30}Î∂Ñ' for i in bins_time[:-1]]
act_clean['Time_Bin'] = pd.cut(act_clean['Total_Active_Minutes'], bins=bins_time, labels=labels_time, right=False)

# [ÌïµÏã¨ Î∂ÑÏÑù] Îì±Í∏â x Í∞ïÎèÑ x ÏãúÍ∞ÑÎåÄÎ≥Ñ 'Í∞ÄÏÑ±ÎπÑ' Ï∞æÍ∏∞
# 3Ô∏è‚É£ Í∑∏Î£πÎ≥Ñ ÌèâÍ∑† Í≥ÑÏÇ∞ (ÌèâÍ∑† ÏπºÎ°úÎ¶¨, ÌèâÍ∑† Ìö®Ïú®ÏÑ±, ÏÉòÌîå Ïàò)
analysis_result = act_clean.groupby(['Activity_Grade', 'Workout_Intensity', 'Time_Bin'])[['Calories', 'Efficiency', 'Total_Active_Minutes']].agg(['mean', 'count']).reset_index()

# Ïª¨Îüº Ïù¥Î¶Ñ ÍπîÎÅîÌïòÍ≤å Ï†ïÎ¶¨ (Multi-index Ìï¥Ï†ú)
analysis_result.columns = ['Activity_Grade', 'Workout_Intensity', 'Time_Bin', 'Calories', 'Count', 'Efficiency', 'Count_Eff', 'Total_Active_Minutes', 'Count_Min']
# Ï§ëÎ≥µÎêú Count Ïª¨Îüº Ï†úÍ±∞
analysis_result = analysis_result[['Activity_Grade', 'Workout_Intensity', 'Time_Bin', 'Calories', 'Efficiency', 'Total_Active_Minutes', 'Count']]

# 4Ô∏è‚É£ [Ïã†Î¢∞ÎèÑ ÌïÑÌÑ∞ÎßÅ] ÏÉòÌîå ÏàòÍ∞Ä ÎÑàÎ¨¥ Ï†ÅÏùÄ(10Í∞ú ÎØ∏Îßå) Îç∞Ïù¥ÌÑ∞Îäî 'Ïö∞Ïó∞'Ïùº Ïàò ÏûàÏúºÎãà Ï†úÍ±∞
reliable_data = analysis_result[analysis_result['Count'] >= 10].copy()

# 5Ô∏è‚É£ [Sweet Spot Ï∞æÍ∏∞] Ìö®Ïú®ÏÑ±(Efficiency) ÎÜíÏùÄ ÏàúÏÑúÎåÄÎ°ú Îû≠ÌÇπ!
top_sweet_spots = reliable_data.sort_values(by='Efficiency', ascending=False)


# Í≤∞Í≥º Î¶¨Ìè¨Ìä∏

print("=== [Ï†ÑÏ≤¥ Îû≠ÌÇπ] Îç∞Ïù¥ÌÑ∞Î°ú ÏûÖÏ¶ùÎêú 'ÏµúÍ≥†Ïùò Í∞ÄÏÑ±ÎπÑ' Ïö¥Îèô Íµ¨Í∞Ñ (Top 5) ===")
display(top_sweet_spots[['Activity_Grade', 'Workout_Intensity', 'Time_Bin', 'Efficiency', 'Calories', 'Count']].head(5))
print("\n")

print("=== [Ï¥àÍ∏âÏûê(Low) ÌïÑÎèÖ] Ï¥àÍ∏âÏûêÍ∞Ä Î¨¥Î¶¨ Ïïà ÌïòÍ≥† ÎΩï ÎΩëÎäî Íµ¨Í∞Ñ (Top 5) ===")
beginner_tips = top_sweet_spots[top_sweet_spots['Activity_Grade'] == 'Low']
beginner_tips[['Workout_Intensity', 'Time_Bin', 'Efficiency', 'Calories', 'Count']].head(5)

#  ÎßåÏïΩ Ï¥àÍ∏âÏûê Í≤∞Í≥ºÏóê 'Moderate_Int'Í∞Ä ÏÉÅÏúÑÍ∂åÏóê ÏûàÎã§Î©¥?
# -> "Ï¥àÍ∏âÏûêÎãò, ÏÇ∞Ï±ÖÎßå ÌïòÏßÄ ÎßêÍ≥† Ïà® Ï∞∞ Ï†ïÎèÑÎ°ú 30Î∂ÑÎßå Í±∏Ïñ¥Î≥¥ÏÑ∏Ïöî. Í∑∏Í≤å 2ÏãúÍ∞Ñ ÏÇ∞Ï±ÖÎ≥¥Îã§ ÎÇ´ÏäµÎãàÎã§!" ÎùºÍ≥† ÎßêÌï¥Ï£ºÎ©¥ Îê®.

=== [Ï†ÑÏ≤¥ Îû≠ÌÇπ] Îç∞Ïù¥ÌÑ∞Î°ú ÏûÖÏ¶ùÎêú 'ÏµúÍ≥†Ïùò Í∞ÄÏÑ±ÎπÑ' Ïö¥Îèô Íµ¨Í∞Ñ (Top 5) ===

C:\Users\USER\AppData\Local\Temp\ipykernel_18360\104185370.py:21: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  analysis_result = act_clean.groupby(['Activity_Grade', 'Workout_Intensity', 'Time_Bin'])[['Calories', 'Efficiency', 'Total_Active_Minutes']].agg(['mean', 'count']).reset_index()

   Activity_Grade  Workout_Intensity  Time_Bin  Efficiency     Calories  Count
78           High  Moderate_Int(Ï§ëÍ∞ïÎèÑ)  240~270Î∂Ñ    1.334525  2973.368421     19
79           High  Moderate_Int(Ï§ëÍ∞ïÎèÑ)  270~300Î∂Ñ    1.266971  2895.938462     65
46         Medium  Moderate_Int(Ï§ëÍ∞ïÎèÑ)  180~210Î∂Ñ    1.248015  2568.466667     30
14            Low  Moderate_Int(Ï§ëÍ∞ïÎèÑ)  120~150Î∂Ñ    1.246273  2229.250000     16
47         Medium  Moderate_Int(Ï§ëÍ∞ïÎèÑ)  210~240Î∂Ñ    1.234045  2415.823529     51

=== [Ï¥àÍ∏âÏûê(Low) ÌïÑÎèÖ] Ï¥àÍ∏âÏûêÍ∞Ä Î¨¥Î¶¨ Ïïà ÌïòÍ≥† ÎΩï ÎΩëÎäî Íµ¨Í∞Ñ (Top 5) ===

    Workout_Intensity  Time_Bin  Efficiency     Calories  Count
14  Moderate_Int(Ï§ëÍ∞ïÎèÑ)  120~150Î∂Ñ    1.246273  2229.250000     16
5      Light_Int(Í∞ÄÎ≤ºÏõÄ)  150~180Î∂Ñ    1.012360  1918.470588     51
3      Light_Int(Í∞ÄÎ≤ºÏõÄ)   90~120Î∂Ñ    1.011388  1856.090909     44
4      Light_Int(Í∞ÄÎ≤ºÏõÄ)  120~150Î∂Ñ    1.007106  1981.679245     53
2      Light_Int(Í∞ÄÎ≤ºÏõÄ)    60~90Î∂Ñ    1.006845  1832.527778     36

In [24]:
#ÏÉÅÏúÑ Îì±Í∏â Ïú†Ï†ÄÎì§Ïùò Ïö¥Îèô Ìå®ÌÑ¥ ÌäπÏÑ± ÌååÏïÖ Î∞è Îì±Í∏â ÏÉÅÏäπÏùÑ ÏúÑÌïú ÌïµÏã¨ ÏöîÏù∏ ÎèÑÏ∂ú
import numpy as np
# Î∂ÑÏÑù Î™©Ìëú 2: "ÏÉÅÏúÑ Îû≠Ïª§(High)Îì§Ïùò ÎπÑÎ∞Ä Ï°±Î≥¥" ÎßåÎì§Í∏∞

# 1 [Ìå®ÌÑ¥ ÎπÑÍµê] Îì±Í∏âÎ≥ÑÎ°ú Ï£ºÏöî Ïä§ÌÉØ(Îä•Î†•Ïπò) ÎπÑÍµêÌïòÍ∏∞
key_stats = [
    'TotalSteps',           # Í±∏Ïùå Ïàò
    'TotalDistance',        # Ïù¥Îèô Í±∞Î¶¨ (km)
    'VeryActiveMinutes',    # Í≥†Í∞ïÎèÑ Ïö¥Îèô ÏãúÍ∞Ñ (Î∂Ñ)
    'FairlyActiveMinutes',  # Ï§ëÍ∞ïÎèÑ Ïö¥Îèô ÏãúÍ∞Ñ (Î∂Ñ)
    'LightlyActiveMinutes', # Ï†ÄÍ∞ïÎèÑ Ïö¥Îèô ÏãúÍ∞Ñ (Î∂Ñ)
    'Calories',             # ÏÜåÎ™® ÏπºÎ°úÎ¶¨
    'Efficiency'            # Ìö®Ïú®ÏÑ± (Í∞ÄÏÑ±ÎπÑ)
]
# Îì±Í∏âÎ≥Ñ ÌèâÍ∑† Í≥ÑÏÇ∞ (Mean)
grade_profile =act_clean.groupby('Activity_Grade')[key_stats].mean().reset_index()

# 2Ô∏è[Gap Î∂ÑÏÑù] "ÎèÑÎåÄÏ≤¥ Î≠êÍ∞Ä Î∂ÄÏ°±Ìï¥ÏÑú ÎÇ¥Í∞Ä Low Îì±Í∏âÏù∏Í∞Ä?"
# ÏÉÅÍ∏â(High) ÌèâÍ∑†ÏóêÏÑú Ï¥àÍ∏â(Low) ÌèâÍ∑†ÏùÑ ÎπºÏÑú Í≤©Ï∞®(Gap)Î•º ÌôïÏù∏Ìï©ÎãàÎã§.
high_stat = grade_profile[grade_profile['Activity_Grade'] == 'High'][key_stats].iloc[0]
low_stat = grade_profile[grade_profile['Activity_Grade'] == 'Low'][key_stats].iloc[0]
# Í≤©Ï∞® ÎπÑÏú® Í≥ÑÏÇ∞ (HighÍ∞Ä LowÎ≥¥Îã§ Î™á %ÎÇò Îçî ÎÜíÏùÄÏßÄ)
gap_ratio = ((high_stat - low_stat) / low_stat * 100).sort_values(ascending=False)

# 3Ô∏è[Ï°±Î≥¥ ÏÉùÏÑ±] ÏÉÅÍ∏âÏûêÎ°ú Í∞ÄÍ∏∞ ÏúÑÌïú "ÏùºÏùº Í∂åÏû• ÌÄòÏä§Ìä∏(KPI)" ÏÑ§Ï†ï
# ÌèâÍ∑†Í∞íÏùÄ ÎÑàÎ¨¥ ÎÜíÏùÑ Ïàò ÏûàÏúºÎãà, ÏÉÅÍ∏âÏûêÎì§Ïùò 'Ï§ëÏïôÍ∞í(Median)'ÏùÑ ÌòÑÏã§Ï†ÅÏù∏ Î™©ÌëúÎ°ú Ï†úÏãúÌï©ÎãàÎã§.
target_kpi = act_clean[act_clean['Activity_Grade'] == 'High'][key_stats].median()

#Í≤∞Í≥º ÎèÑÏ∂ú

print("=== [Îã§Îì§ Ïñ¥ÎñªÍ≤å ÌïòÍ≥† ÏûàÏùÑÍπå] Îì±Í∏âÎ≥Ñ Ïö¥Îèô Ìå®ÌÑ¥ ÎπÑÍµê (ÌèâÍ∑†) ===")
display(grade_profile)
print("\n")

print("=== [ÎãπÏã†ÏóêÍ≤å ÌïÑÏöîÌï¥Ïöî] Îì±Í∏â ÏÉÅÏäπÏùÑ ÏúÑÌï¥ Í∞ÄÏû• ÏãúÍ∏âÌïú Í≤É (Í≤©Ï∞® Top 3) ===")
# Í≤©Ï∞®Í∞Ä ÌÅ¥ÏàòÎ°ù "Ïù¥Í±∏ Ïïà Ìï¥ÏÑú Îì±Í∏âÏù¥ ÎÇÆÏùÄ Í≤É"ÏûÖÎãàÎã§.
display(gap_ratio.head(3))
print(">> Ìï¥ÏÑù: Í±∏Ïùå ÏàòÎÇò Í±∞Î¶¨Î≥¥Îã§ 'Í≥†Í∞ïÎèÑ Ïö¥Îèô(Very Active)' Î∂ÄÏ°±Ïù¥ Ï†úÏùº Ïã¨Í∞ÅÌï®!")
print("\n")

print("===  [ÏÉÅÍ∏âÏûê Ï°±Î≥¥] Ïò§ÎäòÎ∂ÄÌÑ∞ Ïù¥Í≤ÉÎßå ÎßûÏ∂îÏÑ∏Ïöî (ÏùºÏùº Î™©Ìëú) ===")
print(f"1.  Í≥†Í∞ïÎèÑ Ïö¥Îèô: ÌïòÎ£® ÏµúÏÜå {int(target_kpi['VeryActiveMinutes'])}Î∂Ñ Ïù¥ÏÉÅ (Ïà® Ï∞∞ Ï†ïÎèÑÎ°ú!)")
print(f"2.  ÌïòÎ£® Í±∏Ïùå Ïàò: {int(target_kpi['TotalSteps']):,}Î≥¥")
print(f"3.  Ïù¥Îèô Í±∞Î¶¨: {target_kpi['TotalDistance']:.1f}km")
print(f"4.  Î™©Ìëú ÏπºÎ°úÎ¶¨: {int(target_kpi['Calories'])}kcal")

=== [Îã§Îì§ Ïñ¥ÎñªÍ≤å ÌïòÍ≥† ÏûàÏùÑÍπå] Îì±Í∏âÎ≥Ñ Ïö¥Îèô Ìå®ÌÑ¥ ÎπÑÍµê (ÌèâÍ∑†) ===

C:\Users\USER\AppData\Local\Temp\ipykernel_18360\1409701115.py:16: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grade_profile =act_clean.groupby('Activity_Grade')[key_stats].mean().reset_index()

,Activity_Grade,TotalSteps,TotalDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,Calories,Efficiency
0,Low,2158.066225,2.448411,2.419426,2.015453,66.399558,1857.902870,0.718246
1,Medium,7633.944812,8.710442,14.768212,13.315673,215.008830,2309.977925,1.094360
2,High,12290.388521,14.303532,42.456954,25.796909,281.576159,2728.858720,1.166368

=== [ÎãπÏã†ÏóêÍ≤å ÌïÑÏöîÌï¥Ïöî] Îì±Í∏â ÏÉÅÏäπÏùÑ ÏúÑÌï¥ Í∞ÄÏû• ÏãúÍ∏âÌïú Í≤É (Í≤©Ï∞® Top 3) ===

VeryActiveMinutes      1654.835766
FairlyActiveMinutes    1179.956188
TotalDistance           484.196623
dtype: float64

>> Ìï¥ÏÑù: Í±∏Ïùå ÏàòÎÇò Í±∞Î¶¨Î≥¥Îã§ 'Í≥†Í∞ïÎèÑ Ïö¥Îèô(Very Active)' Î∂ÄÏ°±Ïù¥ Ï†úÏùº Ïã¨Í∞ÅÌï®!


===  [ÏÉÅÍ∏âÏûê Ï°±Î≥¥] Ïò§ÎäòÎ∂ÄÌÑ∞ Ïù¥Í≤ÉÎßå ÎßûÏ∂îÏÑ∏Ïöî (ÏùºÏùº Î™©Ìëú) ===
1.  Í≥†Í∞ïÎèÑ Ïö¥Îèô: ÌïòÎ£® ÏµúÏÜå 33Î∂Ñ Ïù¥ÏÉÅ (Ïà® Ï∞∞ Ï†ïÎèÑÎ°ú!)
2.  ÌïòÎ£® Í±∏Ïùå Ïàò: 11,943Î≥¥
3.  Ïù¥Îèô Í±∞Î¶¨: 13.1km
4.  Î™©Ìëú ÏπºÎ°úÎ¶¨: 2576kcal

In [25]:
#Ïö¥Îèô Ìö®Ïú®ÏÑ± Ï†ÄÏ°∞ Í∑∏Î£π ÏãùÎ≥Ñ Î∞è ÎßûÏ∂§Ìòï ÏºÄÏñ¥ Ï†ÑÎûµ ÏàòÎ¶Ω
import numpy as np
# Î∂ÑÏÑù Î™©Ìëú 3: "ÎÖ∏Î†• ÎåÄÎπÑ ÏÑ±Í≥ºÍ∞Ä Ïïà ÎÇòÏò§Îäî Ïß†Ìïú Ïú†Ï†ÄÎì§" Íµ¨Ï∂ú ÏûëÏ†Ñ

# 1Ô∏è[ÏúÑÌóòÍµ∞ ÏãùÎ≥Ñ] Ìö®Ïú®ÏÑ± ÌïòÏúÑ 25% Í∑∏Î£π Ï∞æÍ∏∞
# Ìö®Ïú®ÏÑ±(Efficiency)Ïù¥ ÌïòÏúÑ 25%Ïù∏ ÏßÄÏ†ê(Threshold)ÏùÑ Í≥ÑÏÇ∞Ìï©ÎãàÎã§.
low_eff_threshold = act_clean['Efficiency'].quantile(0.25)

# Ï†ÄÌö®Ïú® Í∑∏Î£π ÌïÑÌÑ∞ÎßÅ (Îã®, Ïö¥Îèô ÏãúÍ∞ÑÏù¥ 0Î∂ÑÏù∏ Îç∞Ïù¥ÌÑ∞Îäî Ï†úÏô∏)
low_eff_group = act_clean[(act_clean['Efficiency'] <= low_eff_threshold) & (act_clean['Total_Active_Minutes'] > 0)].copy()

# 2Ô∏è[ÏõêÏù∏ Î∂ÑÏÑù] ÎèÑÎåÄÏ≤¥ Ïôú Ìö®Ïú®Ïù¥ ÎÇÆÏùÑÍπå? (Ïú†ÌòïÎ≥Ñ ÏÑ∏Î∂ÑÌôî)
# Type A: ÍπîÏßùÌòï (20Î∂Ñ ÎØ∏Îßå) - "Í∞ÑÎßå Î≥¥Îã§Í∞Ä ÎÅùÎÇ®"
type_short = low_eff_group[low_eff_group['Total_Active_Minutes'] < 20]

# Type B: ÎöúÎ≤ÖÏù¥Ìòï (60Î∂Ñ Ïù¥ÏÉÅ) - "Ïò§Îûò Í±∑ÎäîÎç∞ Í∞ïÎèÑÍ∞Ä ÎÇÆÏùå (ÏÇ∞Ï±Ö ÏúÑÏ£º)"
type_long = low_eff_group[low_eff_group['Total_Active_Minutes'] >= 60]

# Type C: Ï†ïÏ≤¥Í∏∞Ìòï (20~60Î∂Ñ) - "Ï†ÅÎãπÌûà ÌïòÎäîÎç∞ ÏûÑÌå©Ìä∏Í∞Ä ÏóÜÏùå"
type_middle = low_eff_group[(low_eff_group['Total_Active_Minutes'] >= 20) & (low_eff_group['Total_Active_Minutes'] < 60)]


# 3Ô∏è[ÎπÑÍµêÍµ∞ ÏÑ§Ï†ï] Í≥†Ìö®Ïú® Í∑∏Î£π(ÏÉÅÏúÑ 25%)ÏùÄ Ïñ¥ÎñªÍ≤å ÌïòÎÇò?
high_eff_group = act_clean[act_clean['Efficiency'] >= act_clean['Efficiency'].quantile(0.75)]

# ÎßûÏ∂§Ìòï ÏºÄÏñ¥ Ï†ÑÎûµ Î¶¨Ìè¨Ìä∏

print(f"=== üö® [Í∏¥Í∏â Ï†êÍ≤Ä] Ìö®Ïú®ÏÑ± Ï†ÄÏ°∞ Í∑∏Î£π Î∂ÑÏÑù (Ï¥ù {len(low_eff_group)}Î™Ö) ===")
print(f"Í∏∞Ï§Ä: Ìö®Ïú®ÏÑ± ÌïòÏúÑ 25% (Efficiency <= {low_eff_threshold:.2f})")
print("\n")

print("===  [ÏßÑÎã® Í≤∞Í≥º] Ï†ÄÌö®Ïú® Ïú†Ìòï Î∂ÑÌè¨ ===")
print(f"1.  ÎöúÎ≤ÖÏù¥Ìòï (60Î∂Ñ Ïù¥ÏÉÅ): {len(type_long)}Î™Ö ({len(type_long)/len(low_eff_group)*100:.1f}%)  ÏïïÎèÑÏ†Å Îã§Ïàò!")
print("   >> ÌäπÏßï: ÏãúÍ∞ÑÏùÄ ÏóÑÏ≤≠ ÎßéÏù¥ Ïì∞ÎäîÎç∞(ÌèâÍ∑† 1ÏãúÍ∞Ñ Ïù¥ÏÉÅ), Í∞ïÎèÑÍ∞Ä ÎÑàÎ¨¥ ÎÇÆÏùå. ÏßÄÏ≥êÏÑú Ìö®Ïú®Ïù¥ Îñ®Ïñ¥ÏßÄÎäî ÏºÄÏù¥Ïä§.")
print(f"2.  ÍπîÏßùÌòï (20Î∂Ñ ÎØ∏Îßå): {len(type_short)}Î™Ö ({len(type_short)/len(low_eff_group)*100:.1f}%)")
print("   >> ÌäπÏßï: ÏòàÏó¥ÌïòÎã§Í∞Ä Ïö¥Îèô ÎÅùÎÇ®. Ï†àÎåÄÏ†ÅÏù∏ Ïö¥ÎèôÎüâ Î∂ÄÏ°±.")
print(f"3.  Ï†ïÏ≤¥Í∏∞Ìòï (20~60Î∂Ñ): {len(type_middle)}Î™Ö ({len(type_middle)/len(low_eff_group)*100:.1f}%)")
print("   >> ÌäπÏßï: ÎÇòÎ¶Ñ Ïó¥Ïã¨Ìûà ÌïòÎäîÎç∞ Î∞©Î≤ïÏù¥ Îã®Ï°∞Î°úÏõÄ.")
print("\n")

print("=== [Ï≤òÎ∞©Ï†Ñ] Ïú†ÌòïÎ≥Ñ ÎßûÏ∂§ ÏºÄÏñ¥ Î©îÏãúÏßÄ ===")
print("[ÎöúÎ≤ÖÏù¥ÌòïÏóêÍ≤å]")
print(f"   - ÌòÑÌô©: ÌèâÍ∑† {type_long['Calories'].mean():.0f}kcal ÏÜåÎ™® (ÏãúÍ∞Ñ ÎåÄÎπÑ ÎÇÆÏùå)")
print("   - Î©îÏãúÏßÄ: 'ÌöåÏõêÎãò, 2ÏãúÍ∞Ñ Í±∑Í∏∞Î≥¥Îã§ 30Î∂Ñ Îπ†Î•¥Í≤å Í±∑Í∏∞Í∞Ä ÏπºÎ°úÎ¶¨Í∞Ä Îçî Ïûò ÌÉëÎãàÎã§! Í∞ïÎèÑÎ•º ÎÜíÏó¨Î≥¥ÏÑ∏Ïöî.'")
print("\n")

print("[ÍπîÏßùÌòïÏóêÍ≤å]")
print("   - Î©îÏãúÏßÄ: 'ÏãúÏûëÏù¥ Î∞òÏûÖÎãàÎã§! Îî± 10Î∂ÑÎßå Îçî Í±∏Ïñ¥Î≥ºÍπåÏöî? ÏπºÎ°úÎ¶¨ ÏÜåÎ™®Í∞Ä 2Î∞∞Í∞Ä Îê©ÎãàÎã§!'")
print("\n")

print("[Ï†ïÏ≤¥Í∏∞ÌòïÏóêÍ≤å]")
print("   - Î©îÏãúÏßÄ: 'Ïò§Îäò Ïö¥ÎèôÏóê 1Î∂Ñ Ï†ÑÎ†• ÏßàÏ£ºÎ•º ÏÑûÏñ¥Î≥¥ÏÑ∏Ïöî! Ï†ïÏ≤¥Í∏∞Î•º Îö´ÏùÑ Ïàò ÏûàÏäµÎãàÎã§.'")

=== üö® [Í∏¥Í∏â Ï†êÍ≤Ä] Ìö®Ïú®ÏÑ± Ï†ÄÏ°∞ Í∑∏Î£π Î∂ÑÏÑù (Ï¥ù 431Î™Ö) ===
Í∏∞Ï§Ä: Ìö®Ïú®ÏÑ± ÌïòÏúÑ 25% (Efficiency <= 1.00)


===  [ÏßÑÎã® Í≤∞Í≥º] Ï†ÄÌö®Ïú® Ïú†Ìòï Î∂ÑÌè¨ ===
1.  ÎöúÎ≤ÖÏù¥Ìòï (60Î∂Ñ Ïù¥ÏÉÅ): 375Î™Ö (87.0%)  ÏïïÎèÑÏ†Å Îã§Ïàò!
   >> ÌäπÏßï: ÏãúÍ∞ÑÏùÄ ÏóÑÏ≤≠ ÎßéÏù¥ Ïì∞ÎäîÎç∞(ÌèâÍ∑† 1ÏãúÍ∞Ñ Ïù¥ÏÉÅ), Í∞ïÎèÑÍ∞Ä ÎÑàÎ¨¥ ÎÇÆÏùå. ÏßÄÏ≥êÏÑú Ìö®Ïú®Ïù¥ Îñ®Ïñ¥ÏßÄÎäî ÏºÄÏù¥Ïä§.
2.  ÍπîÏßùÌòï (20Î∂Ñ ÎØ∏Îßå): 28Î™Ö (6.5%)
   >> ÌäπÏßï: ÏòàÏó¥ÌïòÎã§Í∞Ä Ïö¥Îèô ÎÅùÎÇ®. Ï†àÎåÄÏ†ÅÏù∏ Ïö¥ÎèôÎüâ Î∂ÄÏ°±.
3.  Ï†ïÏ≤¥Í∏∞Ìòï (20~60Î∂Ñ): 28Î™Ö (6.5%)
   >> ÌäπÏßï: ÎÇòÎ¶Ñ Ïó¥Ïã¨Ìûà ÌïòÎäîÎç∞ Î∞©Î≤ïÏù¥ Îã®Ï°∞Î°úÏõÄ.


=== [Ï≤òÎ∞©Ï†Ñ] Ïú†ÌòïÎ≥Ñ ÎßûÏ∂§ ÏºÄÏñ¥ Î©îÏãúÏßÄ ===
[ÎöúÎ≤ÖÏù¥ÌòïÏóêÍ≤å]
   - ÌòÑÌô©: ÌèâÍ∑† 2007kcal ÏÜåÎ™® (ÏãúÍ∞Ñ ÎåÄÎπÑ ÎÇÆÏùå)
   - Î©îÏãúÏßÄ: 'ÌöåÏõêÎãò, 2ÏãúÍ∞Ñ Í±∑Í∏∞Î≥¥Îã§ 30Î∂Ñ Îπ†Î•¥Í≤å Í±∑Í∏∞Í∞Ä ÏπºÎ°úÎ¶¨Í∞Ä Îçî Ïûò ÌÉëÎãàÎã§! Í∞ïÎèÑÎ•º ÎÜíÏó¨Î≥¥ÏÑ∏Ïöî.'


[ÍπîÏßùÌòïÏóêÍ≤å]
   - Î©îÏãúÏßÄ: 'ÏãúÏûëÏù¥ Î∞òÏûÖÎãàÎã§! Îî± 10Î∂ÑÎßå Îçî Í±∏Ïñ¥Î≥ºÍπåÏöî? ÏπºÎ°úÎ¶¨ ÏÜåÎ™®Í∞Ä 2Î∞∞Í∞Ä Îê©ÎãàÎã§!'


[Ï†ïÏ≤¥Í∏∞ÌòïÏóêÍ≤å]
   - Î©îÏãúÏßÄ: 'Ïò§Îäò Ïö¥ÎèôÏóê 1Î∂Ñ Ï†ÑÎ†• ÏßàÏ£ºÎ•º ÏÑûÏñ¥Î≥¥ÏÑ∏Ïöî! Ï†ïÏ≤¥Í∏∞Î•º Îö´ÏùÑ Ïàò ÏûàÏäµÎãàÎã§.'

In [27]:
#ÏãúÍ∞Ñ ÎåÄÎπÑ ÏπºÎ°úÎ¶¨/Ìö®Ïú®Ïùò ÏàòÌôï Ï≤¥Í∞ê ÏßÄÏ†ê Ï∞æÍ∏∞
#Ïö¥Îèô Í∞ïÎèÑÏùò ÌëúÏ§ÄÌé∏Ï∞®(Variation) ÌôïÏù∏
#ÎèôÏùº ÏãúÍ∞Ñ ÎåÄÎπÑ ÏπºÎ°úÎ¶¨ ÏÜåÎ™®Îüâ Î∂ÑÌè¨ ÌôïÏù∏
import numpy as np
# Î∂ÑÏÑù Î™©Ìëú 4~4-2: ÏÉÅÏúÑ Îû≠Ïª§(High) ÏßëÏ§ë Î∂ÑÏÑù & Ïù¥ÌÉà Î∞©ÏßÄ

# ÏÉÅÍ∏âÏûê(High) Îç∞Ïù¥ÌÑ∞Îßå Îî∞Î°ú Ï∂îÏ∂ú
high_grade_users = act_clean[act_clean['Activity_Grade'] == 'High'].copy()

# 1Ô∏è[ÏàòÌôï Ï≤¥Í∞ê ÏßÄÏ†ê] "ÌòïÎãò, Í∑∏Îßå ÌïòÏÖîÎèÑ Îê©ÎãàÎã§. Ìö®Ïú® Îñ®Ïñ¥Ï†∏Ïöî."
# ÏÉÅÍ∏âÏûêÎì§Ïùò Ïö¥Îèô ÏãúÍ∞Ñ(Total_Active_Minutes)ÏùÑ 30Î∂Ñ Îã®ÏúÑÎ°ú Íµ¨Í∞Ñ(Bin)ÏùÑ ÎÇòÎàïÎãàÎã§.
# ÏÉÅÍ∏âÏûêÎäî ÏõåÎÇô Ïò§Îûò Ïö¥ÎèôÌï¥ÏÑú(Í∏∞Î≥∏ 4ÏãúÍ∞Ñ...), Î≤îÏúÑÎ•º ÎÑìÍ≤å Ïû°ÏïÑÏïº Ìï©ÎãàÎã§.
bins = range(0, 500, 30) # 0Î∂Ñ ~ 500Î∂ÑÍπåÏßÄ 30Î∂Ñ Îã®ÏúÑ
labels = [f'{i}~{i+30}Î∂Ñ' for i in bins[:-1]]
high_grade_users['Time_Bin'] = pd.cut(high_grade_users['Total_Active_Minutes'], bins=bins, labels=labels, right=False)

# ÏãúÍ∞ÑÎåÄÎ≥Ñ Ìö®Ïú®ÏÑ± ÌèâÍ∑† Í≥ÑÏÇ∞ & Ïã†Î¢∞ÎèÑ(Count) ÌïÑÌÑ∞ÎßÅ
diminishing_return = high_grade_users.groupby('Time_Bin')['Efficiency'].agg(['mean', 'count']).reset_index()
diminishing_return = diminishing_return[diminishing_return['count'] >= 10] # ÏÉòÌîå 10Í∞ú Ïù¥ÏÉÅÏù∏ Íµ¨Í∞ÑÎßå

# ÏµúÍ≥† Ìö®Ïú® ÏßÄÏ†ê(Sweet Spot) Ï∞æÍ∏∞
peak_efficiency = diminishing_return.sort_values(by='mean', ascending=False).iloc[0]


# 2Ô∏è[Îß§ÎÑàÎ¶¨Ï¶ò Í≤ΩÎ≥¥] "Îß®ÎÇ† ÎòëÍ∞ôÏùÄ Î£®Ìã¥... ÏßÄÍ≤πÏßÄ ÏïäÎÇòÏöî?" (ÌëúÏ§ÄÌé∏Ï∞® ÌôúÏö©)
# Ïú†Ï†ÄÎ≥ÑÎ°ú Ïö¥Îèô Í∞ïÎèÑ(Intensity_Score)Í∞Ä ÎÇ†ÏßúÎ≥ÑÎ°ú ÏñºÎßàÎÇò Îì§Ïë•ÎÇ†Ïë•ÌïúÏßÄ(std) Í≥ÑÏÇ∞Ìï©ÎãàÎã§.
# stdÍ∞Ä 0Ïóê Í∞ÄÍπåÏö∞Î©¥ = Í∏∞Í≥ÑÏ≤òÎüº ÎòëÍ∞ôÏù¥ Ïö¥ÎèôÌï® = Îß§ÎÑàÎ¶¨Ï¶ò/Î≤àÏïÑÏõÉ ÏúÑÌóò!
user_variation = high_grade_users.groupby('Id')['Intensity_Score'].std().reset_index(name='Intensity_Std')
user_variation['Intensity_Std'] = user_variation['Intensity_Std'].fillna(0) # Í∏∞Î°ù 1Í∞úÎøêÏù¥Î©¥ 0 Ï≤òÎ¶¨

# ÌïòÏúÑ 20% (Í∞ÄÏû• Îã®Ï°∞Î°úÏö¥ Ïú†Ï†Ä) Ï∂îÏ∂ú
boredom_threshold = user_variation['Intensity_Std'].quantile(0.2)
boredom_users = user_variation[user_variation['Intensity_Std'] <= boredom_threshold]


# 3Ô∏è[Î∞∞ÌãÄÎ°úÏñÑ Îû≠ÌÇπ] "ÎãòÏù¥ Ïß±Ïù¥Ïã≠ÎãàÎã§...Îßå 2Îì±Ïù¥ Ï´ìÏïÑÏòµÎãàÎã§."
# Í∞ôÏùÄ ÏÉÅÍ∏âÏûêÎì§ÎÅºÎ¶¨ Ìö®Ïú®ÏÑ±(Efficiency)ÏúºÎ°ú Î∞±Î∂ÑÏúÑ Îì±Ïàò(Percentile)Î•º Îß§ÍπÅÎãàÎã§.
# rank(pct=True): 1Îì±ÏùÄ 1.0(100%), Íº¥Îì±ÏùÄ 0.0(0%)
high_grade_users['Rank_Percentile'] = high_grade_users['Efficiency'].rank(pct=True)
top_rankers = high_grade_users[high_grade_users['Rank_Percentile'] >= 0.9] # ÏÉÅÏúÑ 10% (Ïã†Í≥Ñ)


# ----------------------------------------------------------------------------------
# üì¢ Í≤∞Í≥º Î¶¨Ìè¨Ìä∏
# ----------------------------------------------------------------------------------

print("=== [ÏàòÌôï Ï≤¥Í∞ê ÏßÄÏ†ê] ÏÉÅÍ∏âÏûêÎì§Ïùò Ìö®Ïú®Ïù¥ Í∫æÏù¥Îäî ÏàúÍ∞Ñ ===")
print(diminishing_return)
print(f"\n Í≤∞Î°†: {peak_efficiency['Time_Bin']} Íµ¨Í∞Ñ(Ìö®Ïú® {peak_efficiency['mean']:.2f})Ïù¥ Ï†ïÏ†êÏûÖÎãàÎã§.")
print("   Í∑∏ Ïù¥ÌõÑÎ°úÎäî ÏãúÍ∞ÑÏùÑ Îçî Ïç®ÎèÑ Ìö®Ïú®Ïù¥ ÎöùÎöù Îñ®Ïñ¥ÏßëÎãàÎã§. (Ìú¥Ïãù Í∂åÏû• ÌÉÄÏù¥Î∞ç!)")
print("\n")

print(f"=== [Îß§ÎÑàÎ¶¨Ï¶ò Í≤ΩÎ≥¥] Ìå®ÌÑ¥Ïù¥ ÎÑàÎ¨¥ ÎòëÍ∞ôÏùÄ Ïú†Ï†Ä (ÌïòÏúÑ 20%, Std <= {boredom_threshold:.1f}) ===")
print(f"ÎåÄÏÉÅ Ïú†Ï†Ä Ïàò: {len(boredom_users)}Î™Ö")
print("    ÏÜîÎ£®ÏÖò: 'Ïò§ÎäòÏùÄ Ïù∏ÌÑ∞Î≤å Ìä∏Î†àÏù¥ÎãùÏù¥ÎÇò ÏÉàÎ°úÏö¥ Ï¢ÖÎ™© Ïñ¥Îñ†ÏÑ∏Ïöî?' ÏïåÎ¶º Î∞úÏÜ°")
print("\n")

print("=== [Î∞∞ÌãÄÎ°úÏñÑ] ÏÉÅÏúÑ 10% 'Ïã†(God)' Îì±Í∏â Ïú†Ï†Ä Î™ÖÎã® ===")
print("    ÏÜîÎ£®ÏÖò: 'ÌòÑÏû¨ ÏÉÅÏúÑ 0.1%ÏûÖÎãàÎã§! ÏôïÏ¢åÎ•º ÏßÄÌÇ§ÏÑ∏Ïöî!' Í≤ΩÏüÅÏã¨ ÏûêÍ∑π")
display(top_rankers[['Id', 'ActivityDate', 'Total_Active_Minutes', 'Efficiency', 'Rank_Percentile']].sort_values(by='Rank_Percentile', ascending=False).head())

=== [ÏàòÌôï Ï≤¥Í∞ê ÏßÄÏ†ê] ÏÉÅÍ∏âÏûêÎì§Ïùò Ìö®Ïú®Ïù¥ Í∫æÏù¥Îäî ÏàúÍ∞Ñ ===
    Time_Bin      mean  count
8   240~270Î∂Ñ  1.334525     19
9   270~300Î∂Ñ  1.272230     66
10  300~330Î∂Ñ  1.175183     94
11  330~360Î∂Ñ  1.126396    109
12  360~390Î∂Ñ  1.118404     78
13  390~420Î∂Ñ  1.147544     43
14  420~450Î∂Ñ  1.167016     18

 Í≤∞Î°†: 240~270Î∂Ñ Íµ¨Í∞Ñ(Ìö®Ïú® 1.33)Ïù¥ Ï†ïÏ†êÏûÖÎãàÎã§.
   Í∑∏ Ïù¥ÌõÑÎ°úÎäî ÏãúÍ∞ÑÏùÑ Îçî Ïç®ÎèÑ Ìö®Ïú®Ïù¥ ÎöùÎöù Îñ®Ïñ¥ÏßëÎãàÎã§. (Ìú¥Ïãù Í∂åÏû• ÌÉÄÏù¥Î∞ç!)


=== [Îß§ÎÑàÎ¶¨Ï¶ò Í≤ΩÎ≥¥] Ìå®ÌÑ¥Ïù¥ ÎÑàÎ¨¥ ÎòëÍ∞ôÏùÄ Ïú†Ï†Ä (ÌïòÏúÑ 20%, Std <= 30.7) ===
ÎåÄÏÉÅ Ïú†Ï†Ä Ïàò: 7Î™Ö
    ÏÜîÎ£®ÏÖò: 'Ïò§ÎäòÏùÄ Ïù∏ÌÑ∞Î≤å Ìä∏Î†àÏù¥ÎãùÏù¥ÎÇò ÏÉàÎ°úÏö¥ Ï¢ÖÎ™© Ïñ¥Îñ†ÏÑ∏Ïöî?' ÏïåÎ¶º Î∞úÏÜ°


=== [Î∞∞ÌãÄÎ°úÏñÑ] ÏÉÅÏúÑ 10% 'Ïã†(God)' Îì±Í∏â Ïú†Ï†Ä Î™ÖÎã® ===
    ÏÜîÎ£®ÏÖò: 'ÌòÑÏû¨ ÏÉÅÏúÑ 0.1%ÏûÖÎãàÎã§! ÏôïÏ¢åÎ•º ÏßÄÌÇ§ÏÑ∏Ïöî!' Í≤ΩÏüÅÏã¨ ÏûêÍ∑π

C:\Users\USER\AppData\Local\Temp\ipykernel_18360\1277864401.py:18: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  diminishing_return = high_grade_users.groupby('Time_Bin')['Efficiency'].agg(['mean', 'count']).reset_index()

,Id,ActivityDate,Total_Active_Minutes,Efficiency,Rank_Percentile
1160,8053475328,2016-04-03,298,1.614094,1.000000
870,5577150313,2016-04-24,416,1.582933,0.997792
865,5577150313,2016-04-02,391,1.562660,0.995585
877,5577150313,2016-04-30,415,1.553012,0.993377
862,5577150313,2016-04-17,396,1.551768,0.991170