In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

act34 = pd.read_csv("/Users/jisoyun/Desktop/sparta_python/Healthcare/sparta_15/data/dailyActivity_merged.csv")

In [14]:
distance_columns = [col for col in act34.columns if 'Distance' in col]
for col in distance_columns:
    act34[col] = act34[col].round(3)

act34.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863

In [15]:
act34.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 940 entries, 0 to 939
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        940 non-null    int64
 1   ActivityDate              940 non-null    object
 2   TotalSteps                940 non-null    int64
 3   TotalDistance             940 non-null    float64
 4   TrackerDistance           940 non-null    float64
 5   LoggedActivitiesDistance  940 non-null    float64
 6   VeryActiveDistance        940 non-null    float64
 7   ModeratelyActiveDistance  940 non-null    float64
 8   LightActiveDistance       940 non-null    float64
 9   SedentaryActiveDistance   940 non-null    float64
 10  VeryActiveMinutes         940 non-null    int64
 11  FairlyActiveMinutes       940 non-null    int64
 12  LightlyActiveMinutes      940 non-null    int64
 13  SedentaryMinutes          940 non-null    int64
 14  Calories                  940 non-null    int64
dtypes: float64(7), int64(7), object(1)
memory usage: 110.3+ KB

In [16]:
bins = [0, 500, 1000, 1500, 2000, 2500, float('inf')]
labels = ['500 이하', '500-1000', '1000-1500', '1500-2000', '2000-2500', '2500 이상']

# Calories 구간별로 그룹 생성
act34['CalorieGroup'] = pd.cut(act34['Calories'], bins=bins, labels=labels, right=False)

In [6]:
act34.head()

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories,CalorieGroup
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819,1500-2000
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154,2000-2500
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944,1500-2000
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932,1500-2000
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886,1500-2000

In [11]:
act341 = act34.copy()

distance_columns = ['TotalDistance', 'TrackerDistance', 'LoggedActivitiesDistance', 
                   'VeryActiveDistance', 'ModeratelyActiveDistance', 'LightActiveDistance']

calorie_group_avg = act341.groupby('CalorieGroup', observed=True)[distance_columns].mean().round(3)
calorie_group_avg

,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance
CalorieGroup,,,,,,
500 이하,0.141,0.141,0.000,0.000,0.000,0.140
500-1000,1.063,1.063,0.000,0.225,0.082,0.753
1000-1500,1.579,1.529,0.132,0.210,0.106,1.257
1500-2000,2.988,2.988,0.018,0.467,0.284,2.223
2000-2500,5.105,5.007,0.189,0.964,0.645,3.488
2500 이상,7.812,7.735,0.379,2.631,0.739,4.074

In [12]:
minute_columns = ['VeryActiveMinutes', 'FairlyActiveMinutes', 'LightlyActiveMinutes', 'SedentaryMinutes']
calorie_group_minutes_avg = act341.groupby('CalorieGroup', observed=True)[minute_columns].mean().round(3)
calorie_group_minutes_avg

,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes
CalorieGroup,,,,
500 이하,0.000,0.000,5.167,749.667
500-1000,4.667,1.333,35.000,394.533
1000-1500,2.837,2.347,96.143,1099.163
1500-2000,6.898,6.402,139.787,1133.323
2000-2500,13.678,13.149,212.405,947.893
2500 이상,36.519,25.820,217.820,958.226